.card {
  width: 400px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-element {
  margin-top: 20px;
}

.card-element h1 {
  font-size: 25px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.card-element h1:hover {
  color: #21a0f0;
}
