<div class="change-password-container">
  <h2>Change Password</h2>
  <form (ngSubmit)="onChangePassword()">
    <div class="form-group">
      <label for="current-password">Token</label>
      <input
        type="text"
        id="current-password"
        [(ngModel)]="passwordData.token"
        name="currentPassword"
        required
        placeholder="Enter your token received on email"
      />
    </div>

    <div class="form-group">
      <label for="confirm-password">New Password</label>
      <input
        type="password"
        id="confirm-password"
        [(ngModel)]="passwordData.newPassword"
        name="confirmPassword"
        required
        placeholder="Enter your new password"
        [ngClass]="{
        'invalid-password': passwordData.newPassword.length > 0 && passwordData.newPassword.length < 6,
        'valid-password': passwordData.newPassword.length >= 6
        }"
      />
      @if (passwordData.newPassword.length > 0 && passwordData.newPassword.length < 6) {
        <small class="error-text">
          Password must be at least 6 characters long
        </small>
      } @else if (passwordData.newPassword.length >= 6){
        <small class="success-text">
          Password length is valid
        </small>
      }
    </div>

    <button type="submit" class="btn">Change Password</button>
  </form>
</div>
