.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-daily-stats,
.product-weekly-stats,
.product-monthly-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}
